{
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "extends": "airbnb-base",
  "globals": {
    "done": false
  },
  "plugins": [
    "chai-friendly"
  ],
  "rules": {
    "chai-friendly/no-unused-expressions": 2,
    "func-names": 0,
    "import/no-named-default": 0,
    "prefer-arrow-callback": 0,
    "no-unused-expressions": 0
  }
}
