{
  "env": {
    "es6": true,
    "mocha": true,
    "node": true
  },
  "extends": "airbnb-base",
  "plugins": [
    "chai-friendly"
  ],
  "rules": {
    "chai-friendly/no-unused-expressions": 2,
    "comma-dangle": 0,
    "consistent-return": 0,
    "implicit-arrow-linebreak": 0,
    "import/prefer-default-export": 0,
    "linebreak-style": 0,
    "no-bitwise": 0,
    "no-param-reassign": 0,
    "no-unnamed-functions": 0,
    "no-unused-expressions": 0,
    "prefer-promise-reject-errors": 0,

    // this is for the tests, don't worrry about it for now
    "import/no-unresolved": 1,
    "import/extensions": 1
  }
}
