{
    "env": {
      "es6": true,
      "node": true
    },
    "extends": "airbnb-base",
    "rules":{
      "no-underscore-dangle": 1,
      "import/prefer-default-export": 0,
      "no-bitwise": 0
    }
}
